body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

p {
  color: #fff;
}
.container {
  background-image: url("../images/bg.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
}
.content {
  background-color: rgba(9, 9, 9, 0.4);
  padding: 16px;
}

h1 {
  color: #fff;
}

.button {
  background-color: #00b7ff;
  width: 40%;
  padding: 8px;
  text-align: center;
  border-radius: 4px;
}
.button a {
  color: #fff;
}
